@import "tailwindcss";

@theme {
  --color-primary: #f4f4f4;
  --color-primary-light: #f4f4f40d;
  --color-secondary: #787878;
  --color-tertiary: #616161;
  --color-bg: #191919;
  --color-bg-secondary: #202020;

  --font-main: "Labrada", serif;
}

* {
  @apply font-main
}

body {
  @apply py-24 px-4 text-primary bg-bg;
}

.input:hover {
  @apply bg-primary-light;
}

.input:focus {
  @apply outline-secondary outline-dashed;
}

.input::placeholder {
  @apply text-tertiary italic;
}

.input::-webkit-scrollbar {
  @apply w-1 h-1 hidden;
}

.input:hover::-webkit-scrollbar, .input:focus::-webkit-scrollbar {
  @apply block
}

.input::-webkit-scrollbar-track {
  @apply bg-transparent
}

.input::-webkit-scrollbar-thumb {
  @apply bg-[#3d3d3d];
}

.input::-webkit-scrollbar-thumb:hover {
  @apply bg-secondary;
}

::selection {
  @apply bg-[#4d4569] text-[#c6bce7];
}